<header>
    <nav>
        <div class="nav-wrapper">
            <h1 class="title" style="display:none;">
                <a href="#!" class="brand-logo">
                    {{title}}
                </a>
            </h1>
        </div>
    </nav>
    <div class="container">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
            <i class="material-icons">menu</i>
        </a>
    </div>
    <ul class="side-nav fixed" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
    </ul>
</header>
<main>
    hola mundo
</main>
<footer>

</footer>


<button (click)="mostrarTitulo()">Mostrar titulo</button>
