:root{
    --mdc-theme-primary: #212121 !important;
    --mdc-theme-accent: #9c27b0 !important;
    --mdc-theme-background: #fff !important;
}

html {
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}
